# Using pandas to study the Earthquakes

### Chilean Earthquakes
In April 24, 2017 a magnitude 6.9 earthquake occured just west of Valparaiso, Chile, as the result of thrust faulting on or near the subduction zone interface between the Nazca and Pacific tectonic plates. This same section of the plate boundary ruptured in a magnitude 8.0 earthquake in March 1985. These two datasets list all magnitude 2.5+ earthquakes in central Chile in 1985 and 2017. They were obtained from the United States [Geological Survey (USGS) Earthquake Catalog](https://earthquake.usgs.gov/earthquakes/search/). A rectangular region around Valparaiso, Chile was selected using the custom geographic region option. 

The datasets include the time, latitude, longitude, depth, and magnitude for each earthquake that occured. More information about each column in the datasets can be found [here](https://earthquake.usgs.gov/data/comcat/data-eventterms.php).


In this notebook, you will use the pandas library to analyze a fraction of that dataset.

First, import the pandas and matplotlib.pyplot libraries:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Now, open the "chile_quakes_1985.csv" and "chile_quakes_2017.csv" files using the pd.read_csv("file_name") function. Store the returned data frames in the variables df_1985 and df_2017

In [4]:
df_1985 = pd.read_csv('chile_quakes_1985.csv')
df_2017 = pd.read_csv('chile_quakes_2017.csv')

Look at the first five rows of the dataframe, df_1985 using the .head() method.

In [7]:
df_1985.head()

,time,latitude,longitude,depth,mag,magType,rms,id,updated,place,depthError,magNst,locationSource,magSource
0,1985-12-30T18:40:00.960Z,-33.034,-71.910,49.3,4.8,mb,1.0,usp0002pkv,2014-11-07T00:37:41.553Z,"offshore Valparaiso, Chile",10.1,4.0,us,us
1,1985-12-27T22:41:51.240Z,-32.805,-72.472,33.0,4.6,mb,1.5,usp0002pgc,2014-11-07T00:37:40.859Z,"offshore Valparaiso, Chile",NaN,1.0,us,us
2,1985-12-26T03:59:18.870Z,-34.090,-70.062,6.1,5.3,mb,1.1,usp0002pe8,2014-11-07T00:37:40.232Z,"Region Metropolitana, Chile",4.5,21.0,us,us
3,1985-12-25T05:17:10.680Z,-38.834,-74.518,33.0,4.4,mb,1.4,usp0002pd4,2014-11-07T00:37:40.077Z,"offshore Araucania, Chile",NaN,4.0,us,us
4,1985-12-19T13:58:39.740Z,-28.336,-71.012,33.0,5.0,mb,1.9,usp0002p31,2014-11-07T00:37:38.694Z,"Atacama, Chile",NaN,1.0,us,us

How many rows are there in df_1985 dataframe?

In [13]:
len(df_1985)
# You can also use the pandas method df.count()

392



### Chilean Earthquakes 1985

Now you will work on the df_1985 dataframe



### Chilean Earthquakes 2017